<div class="jumbotron">
	<h1>Welcome to my Phone Book Application</h1>
	<hr>
	<p>Create new Contacts</p>
	<p>Edit your existing Contacts</p>
	<p>Delete Contacts you no longer need</p>
</div>
<div class="row">
	<h2>If you want to contact us</h2>
	<div class="col-lg-12 col-md-12 col-sm-12">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2659.566714687785!2d16.3592551!3d48.1956992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da8192fde39d7%3A0xe543f0731e2b5529!2sCodeFactory!5e0!3m2!1sde!2sat!4v1548757290481" frameborder="0" allowfullscreen></iframe>
		<div class="contactinfo">
			<h1><i class="fas fa-map-marker-alt"></i>Kettenbrückengasse 23 / 2 / 12, 1050 Vienna</h1>
			<h3><i class="fas fa-phone"></i>+43660 1234567</h3>
			<h3><i class="fas fa-fax"></i>0101010101</h3>
			<h3><i class="fas fa-envelope"></i>codefactory@codefactory.at</h3>
		</div>
	</div>
</div>