<div class="container-fluid">
	<h1>Here you can add your most important Contacts</h1>	
</div>
<div class="container">	
	<table class="table table-sm">
	        <thead>
	                <th>First Name</th>
	                <th>Last Name</th>
	                <th>Mobile</th>
	        </thead>
	        <ng-container>
	                <tr class="table-dark">
	                        <td>Mom</td>
	                        <td></td>
	                        <td>43123412</td>
	                </tr>
	                <tr class="table-dark">
	                        <td>Dad</td>
	                        <td></td>
	                        <td>43214321</td>
	                </tr>
	                <tr class="table-dark">
	                        <td>Ambulance</td>
	                        <td></td>
	                        <td>43144144</td>
	                </tr>
	        </ng-container>
	</table>
</div>